/* BookFlight.css */


form {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
  
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  select, input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .book-btn {
    background-color: #003366;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .book-btn:hover {
    background-color: #0055a5;
  }
  
  .price-info {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    color: #003366;
  }
  