.footer {
    background-color: #303030;
    color: white;
    padding: 40px 20px 20px;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer-section h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin-bottom: 8px;
  }
  
  .footer-section ul li a {
    text-decoration: none;
    color: white;
  }
  
  .footer-section ul li a:hover {
    text-decoration: underline;
  }
  
  /* Thin Line */
  .footer-line {
    border-top: 1px solid #ffffff;
    margin: 0 20px;
  }
  
  /* Copyright Section */
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    margin-top: 10px;
    padding-top: 10px;
  }
  