
.hero {
    position: relative;
    height: 500px; 
    overflow: hidden;
  }
  
  .hero-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/1.jpg'); 
    background-size: cover;
    background-position: center;
    filter: blur(0px); 
    z-index: -1; 
  }
  
  .hero-text {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1; 
  }
  
  .book-btn {
    
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #003366; 
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    width: auto; 
  max-width: 250px; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  }
  
  .book-btn:hover {
    background-color: rgb(10, 10, 80); 
  }
  
  /* Positive Points section */
  .positive-points {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: white;
  }
  
  .point {
    text-align: center;
    width: 30%;
  }
  
  .icon {
    font-size: 50px;
    margin-bottom: 10px;
  }
  