/* ViewBooking.css */

.view-booking-container {
    width: 80%;
   
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .view-booking-container h2 {
    text-align: center;
    color: #003366;
  }
  
  .view-booking-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .view-booking-form label {
    margin-right: 10px;
    font-weight: bold;
    color: black;
  }
  
  .view-booking-form input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 16px;
    margin-right: 10px;
    width: 200px; /* Adjust width as needed */
  }
  
  .view-booking-form button {
    padding: 10px 15px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .view-booking-form button:hover {
    background-color: #0056b3;
  }
  
  .no-bookings-message {
    text-align: center;
    color: #dc3545; /* Reddish color for error message */
    margin-top: 10px;
  }
  
  .bookings-list {
    margin-top: 20px;
  }
  
  .bookings-list h3 {
    color: #003366;
    margin-bottom: 10px;
  }
  
  .booking-item {
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  .booking-item p {
    margin: 5px 0;
    color: #333;
  }